*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contact .contitle{
    text-align: center;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    color: #000000cb;
}

.contact .contitle .icons{
    color: crimson;
    font-size: 50px;
}

.formbox{
    background-color: #f6f6f6;
    width: 60%;
    margin: auto;
    border-radius: 20px;

}

.form {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 30px 30px -30px rgba(27, 26, 26, 0.315);
    margin-bottom: 40px;
  }
  
  .form .title {
    color: royalblue;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form input {
    outline: 0;
    border: 1px solid rgb(219, 213, 213);
    padding: 8px 14px;
    border-radius: 8px;
    width: 100%;
    height: 50px;
  }
  
  .form textarea {
    border-radius: 8px;
    height: 100px;
    width: 100%;
    resize: none;
    outline: 0;
    padding: 8px 14px;
    border: 1px solid rgb(219, 213, 213);
  }
  
  .button {
    font-family: inherit;
    font-size: 20px;
    background: royalblue;
    color: white;
    padding: 1em .5em;
    padding-left: 0.5em;
    width: 100px;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
  }
  .button:hover{
    background-color: crimson;
  }
  
  button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
  }
  
  button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }
  
  button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
    color: #fff;
  }
  
  button:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
  }
  
  button:hover span {
    transform: translateX(5em);
  }
  
  button:active {
    transform: scale(0.95);
  }
  
  @keyframes fly-1 {
    from {
      transform: translateY(0.1em);
    }
  
    to {
      transform: translateY(-0.1em);
    }
  }
  
  @media (max-width: 700px) {
    .contact .contitle{
        font-size: 20px;
    }
    .contact .contitle .icons{
        font-size: 30px;
    }
    .formbox{
        width: 80%;
    }
    
  }